@import url('https://fonts.googleapis.com/css?family=Open+Sans:600|Roboto&display=swap');

:root {
	/* css variables: */
	--background: #394a6d;
	--border: #3c9d9b;
	--heading: #52de97;
	--foreground: #c0ffb3;
}

*, *::before, *::after {
	/* Set sizing correct for everything */
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	color: var(--foreground);
	background-color: var(--background);
}

#grid {
	/* Content */
	margin: 0;
	/* CSS grid */
	padding: 1rem;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	grid-template-areas:
		"aside"
		"main";
}

aside {
	grid-area: aside;
	padding: 0 1rem 1rem 1rem;
	border: 2px solid var(--border);
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

main {
	grid-area: main;
}

header {
	/* Content */
	margin: 0;
	padding: 1rem 2rem 1rem 1rem;
	/* Flexbox */
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: var(--heading);
	color: var(--background);
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

h1, h2 {
	font-family: 'Roboto', sans-serif;
}

hr {
	border-color: var(--border);
}

.logo {
	margin: 0;
	border: 3px solid;
	padding: 0.5rem;
}

[draggable=true] {
	cursor: grab;
}

#tools {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
}

.tool {
	border: none;
	color: var(--background);
	background-color: var(--heading);
	padding: 1rem;
	margin: 0.5rem;
	width: 5rem;
	height: 5rem;
	box-shadow: 0 0px 6px rgba(0, 0, 0, 0.16), 0 0px 6px rgba(0, 0, 0, 0.23);
	height: 5rem;
}

i.fas {
	font-size: 1.5rem;
}

.tool:hover {
	box-shadow: 0 0px 12px rgba(0, 0, 0, 0.16), 0 0px 12px rgba(0, 0, 0, 0.23);
}

.tool:active {
	background-color: var(--border);
}

#instructions {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
}

.instruction {
	color: var(--background);
	background-color: var(--heading);
	padding: 0;
	box-shadow: 0 0px 6px rgba(0, 0, 0, 0.16), 0 0px 6px rgba(0, 0, 0, 0.23);
	margin: 0.5rem;
	/* grid */
	display: grid;
	grid-template-columns: 5rem auto 1fr 5rem;
	grid-auto-rows: 5rem;
	grid-template-areas:
		"icon name options remove";
	justify-items: center;
	align-items: center;
}

.instruction .icon {
	grid-area: icon;
	width: 100%;
	height: 100%;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.instruction .name {
	grid-area: name;
}

.instruction .options {
	grid-area: options;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}

.instruction .options>* {
	margin-right: 1rem;
}

.instruction .options>input[type=number], .instruction .options>input[type=text] {
	flex-grow: 1;
	width: 1rem;
	min-width: 1rem;
	max-width: 8rem;
	border: 2px solid var(--background);
	background-color: var(--foreground);
	color: var(--background);
	/* Font */
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: normal;
	text-align: right;
	box-shadow: 0 0px 6px rgba(0, 0, 0, 0.16), 0 0px 6px rgba(0, 0, 0, 0.23);
}

.instruction .options .option-name {
	display: none;
}

.instruction .remove {
	width: 3rem;
	height: 3rem;
	grid-area: remove;
	color: inherit;
	background-color: inherit;
	border: 3px solid var(--background);
}

.instruction .remove:hover {
	box-shadow: 0 0px 6px rgba(0, 0, 0, 0.16), 0 0px 6px rgba(0, 0, 0, 0.23);
}

.instruction .remove:active {
	background-color: var(--border)
}

button {
	cursor: pointer;
}

button:focus, a:focus {
	outline: 3px solid var(--border);
}

/*
 * Tooltip stuff
 *
 */
/* Tooltip container */
.tooltip {
	position: relative;
	display: inline-block;
	/* border-bottom: 1px dotted black; */
	/* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: var(--border);
	color: var(--background);
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;
	/* Position the tooltip text - see examples below! */
	position: absolute;
	bottom: 80%;
	left: 50%;
	margin-left: -60px;
	z-index: 1;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: normal;
}

.tooltip .tooltiptext::after {
	content: " ";
	position: absolute;
	top: 100%;
	/* At the bottom of the tooltip */
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: var(--border) transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
	visibility: visible;
}

/*
 * Media Queries
 *
 */
@media only screen and (min-width: 768px) {

	/* For desktop: */
	#grid {
		/* CSS grid */
		display: grid;
		grid-template-columns: 15rem 1fr;
		grid-template-rows: auto 1fr;
		grid-column-gap: 2rem;
		grid-template-areas:
			"aside main"
			". main";
	}

	.instruction .options .option-name {
		display: block;
	}
}
